{% include 'navbar.html' %}



    <br><br><br><br>
    <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Add Land for Sale</h1>
        <hr class="my-4">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
            <label for="" class="form-label">Land Image</label>
            {{form.image}}
            </div>
            <div class="mb-4">
            <label for="" class="form-label">Square Feet</label>
            {{form.sqft }}
            </div>
            
            <div class="mb-4">
            <label for="" class="form-label">Region</label>
            {{form.regin}}
            </div>
            <div class="mb-4">
                <label for="" class="form-label">Land Location</label>
                {{form.location}}
                </div>
                <div class="mb-4">
                    <label for="" class="form-label">House Address</label>
                    {{form.address}}
                    </div>
                   
                  
                            <div class="mb-4">
                                <label for="" class="form-label">About Land (description)</label>
                                {{form.description}}
                                
                                </div>
        
            <button type="submit" class="btn btn-primary">Enter</button>
        </form>
      </div>
    </div>
    {% include 'footer.html' %}
   
    
    
