<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">House and Land Consultancy Servicies</h1>
          <p class="col-md-8 fs-4">Thank for choosing us. Our Employee will contact you via phone call within 24 Hours</p>
          <a href="http://127.0.0.1:8000/" class="btn btn-primary">Back to Homepage</a>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    
</body>
</html>