{% include "navbar.html" %}

<br><br>
<body>
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">Houses For Sales</h4>
                    <hr style="border-color:#b8bfc2;">
                </div>
           {% if houses %}
                {% for house in houses %}
                <div class="col-md-4 col-lg-3">
                    <div class="card my-4">
                        <img src="{{ house.house_sales.image.url }}" class="card-image-top" alt="house" width="150" height="100" size=10px >
                        
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ house.house_sales.specification}} House</h5>
                            <p class="card-text">{{ house.house_sales.sqft }} Sqft</p>
                            <p class="card-text">{{ house.house_sales.location }} Area</p>
                            <p class="card-text">{{ house.house_sales.regin }} Region</p>
                          
                            
                                <span class="float-end price">Rs.{{ house.house_sales.price }}</span>
                            </p>
                            <a href="{% url 'emphousesalesdetails' house.house_sales.id 'Update' %}" class="btn btn-primary btn-sm">Update status</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else%}
            <h1>No Hoouse For Sales in your Region</h1>
            {% endif %}
            </div>
        </div>

    </section>
    
    
     
    


    {% include "footer.html" %}